.publication-section .subtitle {
  font-size: 18px;
  color: #555555;
  margin-top: 15px;
  margin-bottom: 20px;
  font-weight: 500;
}
.publication-section .item {
  margin-bottom: 20px;
}
.publication-section .item-inner {
  padding: 0 15x;
}

.publication-section .author {
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 300;
}

.publication-section .title {
  font-size: 18px;
  color: #607D8B;
  margin-top: 0;
  margin-bottom: 5px;
}

.publication-section .publication-info {
  font-weight: 500;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 300;
}
.publication-section .time {
  color: #8a8a8a;
  margin-bottom: 15px;
}
.publication-section .desc {
  color: #666;
}


.activity-section .subtitle {
    font-size: 18px;
    color: #555555;
    margin-top: 25px;
    margin-bottom: 20px;
    font-weight: 500;
}

.activity-section .item-inner {
    padding: 0 30px;
}

.activity-section .timeline .place {
    margin-bottom: 5px;
}
.activity-section .timeline .item {
    margin-bottom: 15px;
}

.activity-section .activity {
    font-size: 16px;
    margin-bottom: 5px;
}